body{
    margin: 0;
    padding: 0;
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    color: black;
}

*{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    margin: 0px 310px;
}

.logo{
    padding-top: 25px;
}


main{
    background-image: url(../img/main.png);
    position: relative;
    height: 750px;
    z-index: 4;
}


.main-content{
    height: 444px;
    width: 542px;
    z-index: 4;
    position: relative;
}

.main-title p
{
    font-family: "Merriweather", serif;
    font-size: 60px;
    line-height: 66px;
    color:  #313131;
}

.country{
    text-align: center;
    margin-top: -61px;
}


.world{
    text-align: end;
    margin-top: -61px;
}


.subtitle{
    font-size: 18px;
    text-align: center;
    line-height: 23.4px;
    color:  #313131;
}


.button-main{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.button_left, 
.button_right
{
    border: 2px solid #1F1F1F;
    border-radius: 66px;
    text-align: center;
    width: 263px;
    height: 72px;
}

.button_left{
    background-color: #1F1F1F;
    color: #FFFFFF;
    font-weight: 500;
    transition: 0.3s;
}

.button_left:hover{
    background-color: #FBCE51;
    border: 2px solid #FBCE51;
    color: #1F1F1F;
}

.button_right{
    color: #1F1F1F;
    font-weight: 500;
    transition:  0.3s ;
}

.button_right:hover{
    background-color:  #1F1F1F;
    color: #FFFFFF;
}

.path{
    position: absolute;
    top: 309px;
    left: 158px;
    z-index: 3;
}

.city{
    position: absolute;
    top: 320px;
    left: 161.5px;
    z-index: 3;
}

.Ellipse{
    position: absolute;
    left: 951px;
    top: -44px;
    z-index: 1;
}

.Group{
    position: absolute;
    left: 906.85px;
    top: -46.24px;
    z-index: 2;
    rotate: -15deg;
    mix-blend-mode: overlay;
}

.horse{
    position: absolute;
    top: 531.85px;
    left: 1113.64px;
    gap: 0px;
    opacity: 0px;
    z-index: 4;
}

.chess2{
    position: absolute;
    top: 608.2px;
    left: 1516.83px;
    z-index: 4;
}

.chess3{
    position: absolute;
    top: 331.19px;
    left: 1007.18px;
    z-index: 2;
}

.chess{
    position: absolute;
top: 215.29px;
left: 1337.79px;
z-index: 2;
}


.Ellipse9{
    height: 6px;
    width: 6px;
}

.idea{
    padding-top: 100px;
}

.debut_idea{
    font-family: "Merriweather", serif;
    font-size: 30px;
    line-height: 48px; 
    color:#313131;
}

.idea_title{
    display: flex;
    justify-content: space-around;
}

.bender{
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}

.img_bender{
    mix-blend-mode: color-burn;
}

.bender_title{
    font-family: "Merriweather", serif;
    font-size: 30px;
    line-height: 48px; 
    color:#313131;
}

.bender_text{
    position: relative;
}


.text_left{
    font-size: 18px;
    line-height: 24px;
    color: #313131;
    position: absolute;
    top: 240px;
}

.text_right{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #313131;
    position: absolute;
    left: 300px;
    top: 240px;
}

.text_left p,
.text_right
p{
    padding-bottom: 10px;
}



.place::after{
    content: '';
    background-color: #D0D0D0;
    height: 2px;
    width: 700px;
    position: absolute;
    top: 60px;
    left:0px;
}


.date::after{
    content: '';
    background-color: #D0D0D0;
    height: 2px;
    width: 700px;
    position: absolute;
    top: 110px;
    left:0px;
}

.cost::after{
    content: '';
    background-color: #D0D0D0;
    height: 2px;
    width: 700px;
    position: absolute;
    top: 160px;
    left:0px;
}

.pay::after{
    content: '';
    background-color: #D0D0D0;
    height: 2px;
    width: 700px;
    position: absolute;
    top: 210px;
    left:0px;
}

.text_right::after{
    content: '';
    background-color: #D0D0D0;
    height: 235px;
    width: 2px;
    position: absolute;
    top: 15px;
    left:-20px;
}

.administration{
    padding-top: 335px;
    font-size: 18px;
    color: #3057A2;
    line-height: 24px;
}

.qw::after{
    content: '';
    background-color: #F54932;
    height: 2px;
    width: 73px;
    position: absolute;
    top: 238px;
    left:0px;
}

.stages{
    padding-top: 100px;
    position: relative;
}

.stages_title{
    font-family: "Merriweather", serif;
    font-size: 54px;
    color:  #313131;
    line-height: 64.8px;
}

.sources{
    position: absolute;
    font-size: 20px;
    line-height: 24px;
    color:#3057A2;
    left: 650px;
    top: 206px;
}

.stages-img{
    display: flex;
    justify-content: space-between;
}

.group-img img{
    margin-bottom: 17px;
}

.group-img2{
    display: flex;
    justify-content: space-between;
}

/* .group-img2 img{
    margin-right: 26px;
} */

.plane{
    position: absolute;
    right: 13%;
    top: 68%;
}

.participant{
    padding-bottom: 40px;
}

.participant_title{
    font-family: "Merriweather", serif;
    font-size: 54px;
    line-height: 64px;
    color: #313131;
}

.titlearrows{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.arrows{
display: flex;
}

.arrowleft
{
    margin-right: 20px;
    height: 44px;
    width: 44px;
    background-color: #1F1F1F;
    border-radius: 25px;
    transition: 0.3s;
}

.arrowright
{
    margin-left: 20px;
    height: 44px;
    width: 44px;
    background-color: #1F1F1F;
    border-radius: 25px;
    transition: 0.3s;
}

.arrowleft img{
    padding-top: 12px;
    padding-left: 14px;
}

.arrowright img{
    padding-top: 12px;
    padding-left: 18px;
}

.arrowleft:hover
{
background-color: #FBCE51;
}

.arrowright:hover
{
background-color: #FBCE51;
}

.numberright{
    color: #313131;
}

.name{
    font-weight: 600;
    font-size: 24px;
    color:#313131;
}


.man-title{
    font-size: 20px;
    color:#313131;
}

.man{
    align-items: center;
}

.more-btn{
    border: 1px solid #3057A2;
    color: #3057A2;
    border-radius: 62px;
    font-weight: 500;
    display: inline-flex;
    padding: 8px 16px;
    transition: 0.3s;
}

.more-btn:hover{
    background-color: #3057A2;
    color: #FFFFFF;
}

.champion{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer{
    color:  #313131;
    padding-top: 50px;
    background-color: #E9DED4;
    padding-bottom: 70px;
}

.city_content1366{
    display: none;
}

.slider{
    display: none;
}

.man2{
    display: none;
}

.arrows3{
    display: none;
}

/* .tournament{
    font-family: "Merriweather", serif;
    font-size: 28px;
    font-weight: 400;
    color:#313131;
} */


.text365{
    display: none;
}

.running_line{
    overflow: hidden;
    background-color: #F54932;
}

.line_text{
    white-space: nowrap;
    display: flex;
    padding: 5px;
    text-align: center;
    align-items: center;
    font-size: 22px;
    color: #FFFFFF;
    font-family: "Merriweather", serif;
}

.running_line div{
    animation:running-text 20s linear infinite;
}

@keyframes running-text {
    0%{
        transform:translateX(100%) ;
    }

    100%{
        transform:translateX(-100%) ;
    }
}


@media(max-width:1366px){
    .plane{
        right:1%;
    }
}



@media(max-width:1600px){
    .container{
        margin: 0px 72px;
    }

    .city_content{
        display: none;
    }

    main{
        background-image: url(../img/1366.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 820px;
    }

    .place::after{
        content: '';
        background-color: #D0D0D0;
        height: 2px;
        width: 600px;
        position: absolute;
        top: 60px;
        left:0px;
    }
    
    
    .date::after{
        content: '';
        background-color: #D0D0D0;
        height: 2px;
        width: 600px;
        position: absolute;
        top: 110px;
        left:0px;
    }
    
    .cost::after{
        content: '';
        background-color: #D0D0D0;
        height: 2px;
        width: 600px;
        position: absolute;
        top: 160px;
        left:0px;
    }
    
    .pay::after{
        content: '';
        background-color: #D0D0D0;
        height: 2px;
        width: 600px;
        position: absolute;
        top: 210px;
        left:0px;
    }    
}

@media(max-width:1365px){

    .plane{
        right:36%;
        top: 36%;
        height: 182px;
        width: 335px;
    }



    .main-title p{
        font-size: 36px;
    }

    .main-title{
        width: 335px;
    }
    
    .debut_idea,
    .bender_title,
    .tournament
    {
        font-size: 26px;
    }

    .stages-img,
    .group-img2
    {
        display: none;
    }

    .slider{
        display: flex;
        justify-content: center;
        padding-top: 100px;
    }

    .img_bender img{
        height: 402px;
        width: 335px;
    }

    .bender{
        align-items: center;
    }

    .arrows3{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;    
    }

}


@media(max-width:1126px){
    .man{
        display: none;
    }

    .man2{
        display: flex;
        flex-direction: column;
        justify-content: center;  
    }

    .champion{
        display: ruby-text;
    }

    .arrows2{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arrows2 .arrowleft img{
        padding-top: 12px;
        padding-left: 0px;
    }

    .arrows2 .arrowright img{
        padding-top: 12px;
        padding-left: 6px;
    }


    .arrows{
        display: none;
    }

    .participant_title{
        font-size: 36px;
    }

    .sources{
        all:initial;
        font-size: 18px;
        color:#3057A2;
        font-family: "Golos Text", sans-serif;
    }

    .stages_title{
        font-size: 36px;
    }


    .idea_title{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .tournament{
        all: initial;
        position: absolute;
        padding-top: 270px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        color:#313131;
    }

    .debut_idea span{
        font-size: 26px;
        font-family: "Merriweather", serif;
    }

    .bender{
        padding-top: 200px;
        display: flex;
        flex-direction: column;
    }

    .slider-auto{
        display: none;
    }

}

@media(max-width:700px){

    .qw::after{
        content: '';
        background-color: #F54932;
        height: 2px;
        width: 73px;
        position: absolute;
        top: 604px;
        left:0px;
    }

    .plane{
        right:16%;
        top: 40%;
        height: 182px;
        width: 335px;
    }

    .img{
        height: 212px;
        width: 335px;
    }

    .text_left,
    .text_right{
        display: none;
    }

    .text365{
        display: flex;
        flex-direction: column;
    }

    .place::after{
        top: 285px;
        width: 335px;
    }
    
    
    .date::after{
        top: 378px;
        width: 335px;
    }
    
    .cost::after{
        top: 465px;
        width: 335px;

    }
    
    .pay::after{
        top: 550px;
        width: 335px;
    }

    .administration{
        padding-top: 0px;
    }

    .text365 p{
        font-size: 20px;
        color: #313131;
    }

    .button-main{
        flex-direction: column;
        align-items: center;
        display: flex;
    }

    .button-main br {
        display: none;
    }

    .button_left, 
    .button_right
    {
        width: 335px;
        height: 47px;
    }

    .button_right{
        margin-top: 20px;
        background-color: #FFFFFF;
        border: 2px solid #fff;
    }

    .subtitle{
        /* all: initial; */
        font-size: 18px;
        color: #313131;
        font-family: "Golos Text", sans-serif;
        font-weight: 400;
    }

    .line_text{
        font-size: 16px;
    }

    .main-content {
        height: auto;
        width:auto;
    }

    .container{
        margin: 0px 20px;
    }

    .img_bender{
        padding-top: 20px;
    }

    .tournament{
        font-size: 26px;
    }


}

@media(max-width:513px){

    .qw::after{
        content: '';
        background-color: #F54932;
        height: 2px;
        width: 73px;
        position: absolute;
        top: 652px;
        left:0px;
    }
    .place::after{
        top: 335px;
        width: 335px;
    }
    
    
    .date::after{
        top: 420px;
        width: 335px;
    }
    
    .cost::after{
        top: 508px;
        width: 335px;

    }
    
    .pay::after{
        top: 594px;
        width: 335px;
    }
}

@media(max-width:439px){
    .qw::after{
        content: '';
        background-color: #F54932;
        height: 2px;
        width: 73px;
        position: absolute;
        top: 700px;
        left:0px;
    }
}

@media(max-width:438px){
    .qw::after{
        content: '';
        background-color: #F54932;
        height: 2px;
        width: 73px;
        position: absolute;
        top: 748px;
        left:0px;
    }
}
@media(max-width:388px){
    .qw::after{
        content: '';
        background-color: #F54932;
        height: 2px;
        width: 73px;
        position: absolute;
        top: 796px;
        left:0px;
    }
}

@media(max-width:375px){
    .qw::after{
        content: '';
        background-color: #F54932;
        height: 2px;
        width: 73px;
        position: absolute;
        top: 719px;
        left:0px;
    }

    .plane{
        right:0%;
        top: 39%;
    }
    .title{
        line-height: 39px;
    }

    .debut_idea{
        line-height: 37px;
    }

    .bender_title{
        line-height: 37px;
    }

    .text365 p{
        line-height: 24px;
    }

    .administration{
        line-height: 21px;
    }

    .stages_title{
        line-height: 39px;
    }

    .sources{
        line-height: 21px;
    }

    .participant_title{
        line-height: 39px;
    }

    .footer_title{
        line-height: 19px;
    }

    /* .main-title p{
        all: initial;
        font-family: "Merriweather", serif;
        font-size: 36px;
        line-height: 39px;
        position: relative;
        top: 40px;
    } */

    .title,
    .country,
    .world
    {
        all: initial;
    }

    .main-title p{
        line-height: 39px;
    }

    .main-content{
        padding-top: 40px;
    }

    .country{
        align-items: center;
        padding-left: 63px;
    }

    .world{
        padding-left: 20px;
    }

    main{
        background-image: url(../img/main375.png);
        height: 776px;
    }

    .button-main{
        padding-top: 20px;
    }

    .subtitle{
        text-align: left;
    }

    .idea{
        padding-top: 35px;
    }

    .debut_idea{
        line-height: 37px;
    }

    .place::after{
        top: 395px;
        width: 335px;
    }
    
    
    .date::after{
        top: 480px;
        width: 335px;
    }
    
    .cost::after{
        top: 568px;
        width: 335px;

    }
    
    .pay::after{
        top: 654px;
        width: 335px;
    }
}


.slider{
    /* width: 335px;
    height: 300px; */
    position: relative;
    overflow: hidden;
    padding-top: 300px;
    margin-top: 100px;
    }

    
    .slider-img{
        /* width: 100%;
        height: 100%; */
        position: absolute;
        left: 0;
        opacity: 0;
        transition: opacity 0.5 ease;
        right: auto;
        left: auto;
        margin: auto;
        top: 0;
    }
    
    .slider-img.active{
        opacity: 1;
    }
    
    /* .slider img{
        position: absolute;
        z-index: 1;
        top: 50%;
        transition: opacity 0.5s ease;
        transform: translateY(-50%);
    }
     */
     .prev {
        /* left: 350px; */
        background-color: #313131;
        padding: 10px 14px 10px 14px;
        border-radius: 50px;
        position: absolute;
        top: 320px;
        transition: 0.3s;
        margin: auto;
        margin-left: -90px;
    }
    
    .next {
        /* left: 500px; */
        background-color: #313131;
        padding: 10px 14px 10px 14px;
        border-radius: 50px;
        position: absolute;
        top: 320px;
        transition: 0.3s;
        margin: auto;
        margin-left: 50px;

}


.next:hover{
    background-color: #FBCE51;
}

.prev:hover{
    background-color: #FBCE51;
}

.w{
    padding-top: 100px;
}

.point{
    position: absolute;
    top: 327px;
}


.slider-auto {
    width:100%;
    height: 600px;
    position: relative;
    overflow: hidden;
  }
   
  .slide {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    left: 50%;
    margin-left: -617.5px;
  }
   
  .slide:first-child {
    opacity: 1;
  }



